h1, h2, nav a {
    text-transform: uppercase;
    font-family: 'quicksand', sans-serif;
}


nav a {
    color: #2241df;
    text-decoration: none;
}


main {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-width: 10px;
}
.logo {
    max-width: 150px;
}
.current {
    text-decoration: underline;
}
body {
    background-color: #e9ecfb;
}
header{
    background-color: #ffffff;
}

img {
    max-width: 800px;
}
p {
    font-family: 'Roboto Slab', serif;
}

/*forside*/

.slogan {
    color: #ff3a00;
}