h1, h2, nav a {
    text-transform: uppercase;
    font-family: 'quicksand', sans-serif;
}


nav a {
    color: #2241df;
    text-decoration: none;
    font-size: 1.2em;
    margin: 2px 20px;
}


main {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-width: 10px;
}
.logo {
    max-width: 150px;
}
.current {
    border-bottom: solid;
    border-color: #3eb4b4;
    border-width: 3px;
}
body {
    background-color: #e9ecfb;
}
header{
    background-color: #ffffff;
}

img {
    max-width: 800px;
}
p {
    font-family: 'Roboto Slab', serif;
}

/*forside*/

.slogan {
    color: #ff3a00;
}

/*exhibitions*/

.cos {
    background-color: #bdc6f6;
}
.evo {
    background-color: #ffc4b3;
}
.bio {
    background-color: #3eb4b4;
}
.rob {
    background-color: #ffc4b3;
}
.eco {
    background-color: #c6e9e9;
}

/*news*/

.date {
    color: #ffffff;
    background-color: #2241df;
}