h1, h2, nav a {
    text-transform: uppercase;
    font-family: 'quicksand', sans-serif;
}
h1{
    padding: 50px 0px 0px 120px;
    border-bottom: solid;
    border-color: #c6e9e9;
    border-width: 3px;
    max-height: 20px;

}

h2{
    padding: 60px 0px 0px 60px;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    margin: auto;
    
    
}


main {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-width: 10px;
}
.logo {
    max-width: 100px;
    float: left;
    padding: 20px;
    margin: unset;
}
.alogo {
    margin: unset;
}
.current {
    border-bottom: solid;
    border-color: #3eb4b4;
    border-width: 3px;
}
body {
    background-color: #e9ecfb;
}
header{
    background-color: #ffffff;
    position: sticky;
    top: 0px;
}

img {
    max-width: 800px;
}
p {
    font-family: 'Roboto Slab', serif;
    max-width: 360px;
    padding: 0px 20px 20px 20px;
}

/*forside*/

.slogan {
    color: #ff3a00;
}

/*exhibitions*/

.cos {
    background-color: #bdc6f6;
}
.evo {
    background-color: #ffc4b3;
}
.bio {
    background-color: #3eb4b4;
}
.rob {
    background-color: #ffc4b3;
}
.eco {
    background-color: #c6e9e9;
}

/*news*/

.date {
    color: #ffffff;
    background-color: #2241df;
    max-width: 100px;
}
.num {
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
}
.day{
    margin:0;
    padding: 5px 0px 0px 0px;
    text-align: center;
}
.news-img {
    max-width: 50%;
    max-height: 260px;
}

/*volunteer*/
.volunteer{
    background-color: #bdc6f6;
    width: 100%;
}
.vol-end{
    background-color: #c6e9e9;
}